{% assign navList = site.data.site_nav %}

{% if navList[0] %}

{% for nav in navList %}
{% assign matchNav = navList | where: "url", page.url %}
{% assign matchChild = nav.children | where: "url", page.url %}

{% if matchNav[0] and page.url == nav.url %}
  {% assign children = matchNav[0].children %}
{% else %}
  {% if matchChild[0] %}
    {% assign children = nav.children %}
  {% endif %}
{% endif %}
{% endfor %}

<nav class="site-nav">
  <ul class="site-nav__list">
    {% for nav in navList %}
    <li class="site-nav__item">
      {% assign currentNavChild = nav.children | where: "url", page.url %}
      <a href="{{ nav.url }}" {% if page.url == nav.url or currentNavChild[0] -%} class="is-active"{%- endif -%}>
        {{ nav.name }}
      </a>
    </li>
    {% endfor %}
  </ul>

  {% if children[0] %}
  <ul class="site-nav__children">
    {% for child in children %}
    <li class="site-nav__item">
      <a href="{{ child.url }}" {% if page.url == child.url -%} class="is-active"{%- endif -%}>
        {{ child.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</nav>
{% endif %}
