---
# Only the main Sass file needs front matter (the dashes are enough)
---

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #333;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  background-color: #fff;
}

/**
 * 布局
 */

.fixed {
  position: fixed;
  top: 50px;
  width: 220px;
}
.site-content {
  margin-left: 280px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 640px;
}

/**
 * Logo
 */
.site-logo,
.site-logo:active {
  display: block;
  margin-bottom: 50px;
  padding: 20px 10px;
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 28px;
  background-color: #000;
}

/**
 * Navigations
 */
.site-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.site-nav a {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  color: #999;
  text-decoration: none;
  line-height: 24px;
  font-size: 18px;
}
.site-nav a.is-active {
  color: #000;
}
.site-nav a:hover {
  color: #fff;
  background-color: #000;
}

/**
 * Footer
 */
.site-footer {
  margin-top: 50px;
  text-align: right;
  color: #ababab;
  font-size: 12px;
}

/**
 * Post
 */
.post {
  margin-bottom: 80px;
}
.post:last-child {
  margin-bottom: 0;
}
.post__title {
  font-size: 24px;
}
.post__title a,
.post__title a:active,
.post__title a:hover {
  color: #000;
  text-decoration: none;
}
.post__time {
  font-size: 12px;
  color: #999;
}

/**
 * typography
 */
.typography {
  margin-top: 20px;
  font-size: 16px;
}
.typography em {
  position: relative;
  font-style: normal;
}
.typography em:after {
  position: absolute;
  top: 0.65em;
  left: 0;
  width: 100%;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}
.typography acronym,
.typography abbr {
  border-bottom: 1px dotted;
}

.typography abbr {
  cursor: help;
}
.typography h2 {
  margin-top: 40px;
  font-size: 22px;
}
.typography h2 + .typography h3 {
  margin-top: 1px;
}
.typography h3 {
  margin-top: 25px;
  color: #333;
}
.typography h3 + .typography h4 {
  margin-top: -1px;
}
.typography h4,
.typography h5,
.typography h6 {
  margin-top: 21px;
  color: #666;
}
.typography p {
  margin-top: 28px;
  line-height: 1.62;
}
.typography p:first-child {
  margin-top: 0;
}
.typography blockquote {
  margin-top: 26px;
  padding-right: 30px;
  padding-left: 30px;
  color: #666;
  border-left: 3px solid #eee;
}
.typography a {
  color: #000;
  text-decoration: none;
}
.typography a:active {
  color: #999;
}
.typography a:hover {
  color: #fff;
  background-color: #000;
}
.typography a:before {
  content: "{";
}
.typography a:after {
  content: "}";
}
.typography a[target="_blank"]:before {
  content: "[";
}
.typography a[target="_blank"]:after {
  content: "]";
}
.typography .reversefootnote {
  color: #666;
  background-image: none;
}
.typography ul,
.typography ol {
  margin: 24px 0 0 6px;
  padding-left: 16px;
}
.typography ul {
  list-style-type: square;
}
.typography ol {
  list-style-type: decimal;
}
.typography li {
  margin-bottom: 8px;
}
.typography li ul,
.typography li ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14px;
}
.typography li ul {
  list-style-type: disc;
}
.typography li ul ul {
  list-style-type: circle;
}
.typography hr {
  display: block;
  margin-top: 42px;
  margin-bottom: 32px;
  text-align: center;
  border: 0;
}
.typography hr:before {
  position: relative;
  top: -35px;
  color: #666;
  letter-spacing: 0.5em;
  font-size: 28px;
  content: "...";
}

.drop-caps p:first-child:first-letter {
  float: left;
  color: $base-color__link--hover;
  font-size: 300%;
  padding-top: 2px;
  line-height: 100%;
  padding-right: 10px;
}
